.section-location-component {
    padding: 5rem;
    width: 100%;
}

.location-banner {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    height: 450px;
    padding: 4rem;
    width: 100%;
}

.location-banner-infor {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.infor-title {
    color: #ffffff;
    font-size: 3.5rem;
    font-weight: 700;
    letter-spacing: .3px;
    text-align: left;
    text-transform: capitalize;
}

.infor-sub-title {
    color: #ffffff;
    font-size: 1.4rem;
    letter-spacing: .3px;
    margin-bottom: 1.5rem;
    text-align: left;
    text-transform: uppercase;
}

@media screen and (max-width: 768px){
    .section-location-component {
        padding: 5rem 0rem;
    }
}