.header-search-component {
    position: relative;
    width: 100%;
}

.search-wrapper {
    background-color: var(--first-color-02);
    border-radius: 5px;
    bottom: -3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
}

.search-form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

@media screen and (min-width: 320px) {
    .header-search-component, .search-wrapper {
        height: fit-content;
    }

    .search-wrapper {
        padding: 1.5rem;
        position: unset;
    }

    .search-btn > div, .search-btn > div button {
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .header-search-component {
        height: 60px;
    }

    .search-wrapper {
        padding: .5rem;
        position: absolute;
    }
}