.button-component {
    display: inline-block;
    width: fit-content;
}

.button-component button {
    background-color: #ffffff;
    color:  var(--first-color);
    font-size: 1.3rem;
}

.width-full {
    width: 100%;
}

.width-full button {
    width: 100%;
}

.color-revert button {
    background-color: var(--first-color);
    color: #ffffff;
    padding: 1rem;
}

.button-component button:hover {
    background-color: var(--first-color-01);
    color: #ffffff;
}